* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.list {
  background: gray;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 17rem;
  height: 100%;
}

.list + .list {
  margin-left: 0.5rem;
}

.card {
  width: 15rem;
  height: 5rem;
  background: whitesmoke;
  border: 1px solid black;
  cursor: move;
  border-radius: 1rem;
  padding: 1rem;
}

.card.moving {
  opacity: 0.4;
}
